
{
  "presets": ["@babel/preset-typescript"],
  // "env": {
  //   "production": {
  //     "presets": ["react-optimize"]
  //   }
  // },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "handleMissingStyleName": "warn",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
    // "@babel/plugin-transform-react-constant-elements",
    // "@babel/plugin-transform-react-inline-elements"
  ]
}